<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saikrishna.healthapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DoctorSignUpActivity" />
        <activity android:name=".activity.DoctorLoginActivity" />
        <activity android:name=".activity.DoctorScreenActivity" />
        <activity android:name=".activity.DoctorRequestsActivity" />
        <activity android:name=".activity.DoctorViewRequestActivity"/>

        <activity android:name=".activity.PatientLoginActivity" />
        <activity android:name=".activity.PatientSignUpActivity" />
        <activity android:name=".activity.PatientScreenActivity" />

        <activity android:name=".activity.PatientRecordsActivity" />
        <activity android:name=".activity.SendToDoctor" />
        <activity android:name=".activity.PatientCommentsActivity" />

        <activity android:name=".activity.SpecialistLoginActivity" />
        <activity android:name=".activity.SpecialistSignUpActivity" />
        <activity android:name=".activity.SpecialistScreenActivity" />
        <activity android:name=".activity.SpecialistRequestsActivity" />
        <activity android:name=".activity.SpecialistViewRequestActivity" />

        <activity android:name=".activity.SignupActivity" />
        <activity android:name=".activity.LoginActivity" />

    </application>

</manifest>